# Twitter and Price - 10 minutes

## Import

In [ ]:
import pandas as pd
import os

## BTC Data
### Read

In [20]:
os.chdir("/Users/stevelee/Downloads")
df = pd.read_csv('BTCUSD_transactions.csv')
df['Date'] = pd.to_datetime(df['timestamp'], unit='s')
df['Weighted Price'] = df['amount'] * df['price']
df = df.set_index('Date')
df.head()

                     ID   timestamp    amount  price  Weighted Price
Date
2011-08-18 12:37:25   5  1313671045  0.489908  10.90        5.340000
2011-08-19 12:19:24  14  1313756364  0.084388  11.85        1.000000
2011-08-19 15:45:01  15  1313768701  0.315704  11.15        3.520095
2011-08-19 15:45:01  16  1313768701  0.500000  11.20        5.600000
2011-08-19 15:45:01  17  1313768701  0.455400  11.45        5.214330

### Resample

In [23]:
df_btc = pd.DataFrame()
df_btc['Weighted Price Sum'] = df['Weighted Price'].resample('10min').sum()
df_btc['Amount'] = df['amount'].resample('10min').sum()
df_btc['Price'] = df_btc['Weighted Price Sum'] / df_btc['Amount']
df_btc.head()

                     Weighted Price Sum    Amount  Price
Date
2011-08-18 12:30:00                5.34  0.489908   10.9
2011-08-18 12:40:00                0.00  0.000000    NaN
2011-08-18 12:50:00                0.00  0.000000    NaN
2011-08-18 13:00:00                0.00  0.000000    NaN
2011-08-18 13:10:00                0.00  0.000000    NaN

## Twitter Data

### Read

In [24]:
os.chdir('/Users/stevelee/Documents/Research/DigitalAsset_Analysis/data')
df_twitter = pd.read_csv('bitcoinTweets_big.csv', encoding = "ISO-8859-1", error_bad_lines=False)
df_twitter['Date'] = pd.to_datetime(df_twitter['Date'], format='%Y/%m/%d %H:%M:%S', errors='coerce')
df_twitter = df_twitter.set_index('Date').drop_duplicates(subset='TweetId', keep=False)
df_twitter.head()

                                TweetId  Retweets  Favorites
Date
2017-12-12 23:59:35  940732898457550848         0          0
2017-12-12 23:56:48  940732196566061056         0          1
2017-12-12 23:56:25  940732103091777537         0          0
2017-12-12 23:56:18  940732071734943746         0          0
2017-12-12 23:56:14  940732054391721991         0          0

### Resample

In [27]:
df_twitterSummary = pd.DataFrame()
df_twitterSummary['Retweets'] = df_twitter['Retweets'].resample('10min').sum()
df_twitterSummary['Favorites'] = df_twitter['Favorites'].resample('10min').sum()
df_twitterSummary['NumTweets'] = df_twitter['Favorites'].resample('10min').count()
df_twitterSummary

                     Retweets  Favorites  NumTweets
Date
2017-12-01 00:00:00       457       1028        550
2017-12-01 00:10:00      2967       1535        601
2017-12-01 00:20:00       214        577        489
2017-12-01 00:30:00       449       1192        559
2017-12-01 00:40:00       285        475        506
2017-12-01 00:50:00       307        671        461
2017-12-01 01:00:00       862       1246        595
2017-12-01 01:10:00       111        377        495
2017-12-01 01:20:00        92        318        412
2017-12-01 01:30:00       436        904        542
2017-12-01 01:40:00       373       1054        423
2017-12-01 01:50:00       386        859        511
2017-12-01 02:00:00       567       1206        554
2017-12-01 02:10:00       179        350        488
2017-12-01 02:20:00       186        661        490
2017-12-01 02:30:00       720       1165        482
2017-12-01 02:40:00       404        436        445
2017-12-01 02:50:00       669       1786        461
2017-12-01 03:00:00      1793       4350        640
2017-12-01 03:10:00       375       1655        646
2017-12-01 03:20:00       183        454        485
2017-12-01 03:30:00       347        911        536
2017-12-01 03:40:00       350        802        561
2017-12-01 03:50:00       795       1128        505
2017-12-01 04:00:00      3402       1118        601
2017-12-01 04:10:00       461       1085        515
2017-12-01 04:20:00       359        821        486
2017-12-01 04:30:00       152        909        445
2017-12-01 04:40:00       154        462        396
2017-12-01 04:50:00       201        805        392
...                       ...        ...        ...
2017-12-13 19:00:00       921       2670        976
2017-12-13 19:10:00      1046       1933        802
2017-12-13 19:20:00       433       1256        730
2017-12-13 19:30:00       730       1753        807
2017-12-13 19:40:00       690       1968        840
2017-12-13 19:50:00      1765       2471        889
2017-12-13 20:00:00      1830       3512       1096
2017-12-13 20:10:00      1369       2293        906
2017-12-13 20:20:00       736       2152        806
2017-12-13 20:30:00      1128       2375        836
2017-12-13 20:40:00       646       1685        720
2017-12-13 20:50:00       856       1822        776
2017-12-13 21:00:00      1229       1651        938
2017-12-13 21:10:00      1186       2379        815
2017-12-13 21:20:00       353       1283        659
2017-12-13 21:30:00       556       1343        741
2017-12-13 21:40:00       947       3366        758
2017-12-13 21:50:00       317       1223        686
2017-12-13 22:00:00      9113       4830        948
2017-12-13 22:10:00       583       1736        820
2017-12-13 22:20:00       596       1530        658
2017-12-13 22:30:00       375       1013        844
2017-12-13 22:40:00       574       1045        697
2017-12-13 22:50:00       523       1296        613
2017-12-13 23:00:00       400       1189        841
2017-12-13 23:10:00      1122       2300        624
2017-12-13 23:20:00       327        828        594
2017-12-13 23:30:00      1050       2742        672
2017-12-13 23:40:00       496       1207        650
2017-12-13 23:50:00       119        528        375

[1872 rows x 3 columns]

## Merge

In [30]:
df_all = df_btc.merge(df_twitterSummary, how='outer', left_index=True, right_index=True).dropna(subset=['NumTweets'])
df_all

,Weighted Price Sum,Amount,Price,Retweets,Favorites,NumTweets
Date,,,,,,
2017-12-01 00:00:00,8.688910e+05,86.954377,9992.493168,457.0,1028.0,550.0
2017-12-01 00:10:00,3.350167e+05,33.338575,10048.921825,2967.0,1535.0,601.0
2017-12-01 00:20:00,6.643900e+05,66.330623,10016.339156,214.0,577.0,489.0
2017-12-01 00:30:00,1.035254e+06,102.892897,10061.476593,449.0,1192.0,559.0
2017-12-01 00:40:00,2.099623e+06,211.862124,9910.326896,285.0,475.0,506.0
2017-12-01 00:50:00,6.562904e+05,66.465622,9874.133608,307.0,671.0,461.0
2017-12-01 01:00:00,1.730960e+06,177.065040,9775.841309,862.0,1246.0,595.0
2017-12-01 01:10:00,4.493914e+05,45.666024,9840.827155,111.0,377.0,495.0
2017-12-01 01:20:00,2.207869e+06,224.562017,9831.888741,92.0,318.0,412.0
2017-12-01 01:30:00,8.924851e+05,91.448183,9759.462415,436.0,904.0,542.0
2017-12-01 01:40:00,2.477457e+05,25.243319,9814.306977,373.0,1054.0,423.0
2017-12-01 01:50:00,6.753247e+05,68.767643,9820.385167,386.0,859.0,511.0
2017-12-01 02:00:00,4.152023e+05,42.556838,9756.417860,567.0,1206.0,554.0
2017-12-01 02:10:00,1.257034e+05,12.866657,9769.700994,179.0,350.0,488.0
2017-12-01 02:20:00,1.291365e+06,133.605853,9665.483732,186.0,661.0,490.0
2017-12-01 02:30:00,7.399399e+05,75.914834,9746.973279,720.0,1165.0,482.0
2017-12-01 02:40:00,2.894245e+05,29.700733,9744.691135,404.0,436.0,445.0
2017-12-01 02:50:00,7.717557e+05,78.677610,9809.089696,669.0,1786.0,461.0
2017-12-01 03:00:00,1.076290e+05,10.975804,9806.022636,1793.0,4350.0,640.0
2017-12-01 03:10:00,1.238309e+05,12.685268,9761.786861,375.0,1655.0,646.0
2017-12-01 03:20:00,7.012106e+05,72.211195,9710.552093,183.0,454.0,485.0
2017-12-01 03:30:00,3.422674e+05,35.167940,9732.370852,347.0,911.0,536.0
2017-12-01 03:40:00,8.571861e+04,8.802580,9737.896369,350.0,802.0,561.0
2017-12-01 03:50:00,1.097949e+05,11.245946,9763.063085,795.0,1128.0,505.0
2017-12-01 04:00:00,3.481924e+05,35.837318,9715.917328,3402.0,1118.0,601.0
2017-12-01 04:10:00,8.527082e+05,86.855420,9817.559135,461.0,1085.0,515.0
2017-12-01 04:20:00,1.084176e+06,109.375672,9912.405588,359.0,821.0,486.0
2017-12-01 04:30:00,4.532506e+05,45.922171,9869.974189,152.0,909.0,445.0
2017-12-01 04:40:00,7.909566e+05,80.624976,9810.317422,154.0,462.0,396.0
2017-12-01 04:50:00,1.515159e+05,15.393276,9842.989365,201.0,805.0,392.0
...,...,...,...,...,...,...
2017-12-13 19:00:00,2.276412e+06,142.040192,16026.537050,921.0,2670.0,976.0
2017-12-13 19:10:00,2.549672e+06,159.090903,16026.508458,1046.0,1933.0,802.0
2017-12-13 19:20:00,3.309501e+06,204.267969,16201.762485,433.0,1256.0,730.0
2017-12-13 19:30:00,2.331454e+06,144.480957,16136.755745,730.0,1753.0,807.0
2017-12-13 19:40:00,2.163184e+06,133.316989,16225.872514,690.0,1968.0,840.0
2017-12-13 19:50:00,1.992568e+06,122.701666,16239.125633,1765.0,2471.0,889.0
2017-12-13 20:00:00,2.569724e+06,157.477545,16318.032977,1830.0,3512.0,1096.0
2017-12-13 20:10:00,1.646793e+06,101.320826,16253.249163,1369.0,2293.0,906.0
2017-12-13 20:20:00,2.802410e+06,172.937570,16204.751005,736.0,2152.0,806.0
2017-12-13 20:30:00,1.227049e+06,75.992140,16147.048247,1128.0,2375.0,836.0
2017-12-13 20:40:00,2.207573e+06,137.550568,16049.173194,646.0,1685.0,720.0
2017-12-13 20:50:00,1.497709e+06,93.524040,16014.156237,856.0,1822.0,776.0
2017-12-13 21:00:00,2.955227e+06,182.127422,16226.148309,1229.0,1651.0,938.0
2017-12-13 21:10:00,1.803272e+06,110.525589,16315.421663,1186.0,2379.0,815.0
2017-12-13 21:20:00,2.142374e+06,131.181834,16331.329313,353.0,1283.0,659.0
2017-12-13 21:30:00,6.818678e+05,41.672176,16362.662703,556.0,1343.0,741.0
2017-12-13 21:40:00,8.492397e+05,52.026449,16323.229368,947.0,3366.0,758.0
2017-12-13 21:50:00,1.661737e+06,101.186447,16422.526858,317.0,1223.0,686.0
2017-12-13 22:00:00,7.019188e+05,42.640214,16461.428487,9113.0,4830.0,948.0
2017-12-13 22:10:00,7.716225e+05,47.142567,16367.851535,583.0,1736.0,820.0
2017-12-13 22:20:00,9.146273e+05,55.870185,16370.579301,596.0,1530.0,658.0
2017-12-13 22:30:00,3.498071e+06,214.939921,16274.644519,375.0,1013.0,844.0
2017-12-13 22:40:00,5.322297e+05,32.642919,16304.597640,574.0,1045.0,697.0
2017-12-13 22:50:00,5.996501e+05,36.656767,16358.509926,523.0,1296.0,613.0
2017-12-13 23:00:00,4.613974e+05,28.247410,16334.148788,400.0,1189.0,841.0
2017-12-13 23:10:00,4.563644e+05,27.903802,16354.919823,1122.0,2300.0,624.0
2017-12-13 23:20:00,1.548367e+06,95.373492,16234.768820,327.0,828.0,594.0
2017-12-13 23:30:00,2.100694e+06,130.127183,16143.389944,1050.0,2742.0,672.0
2017-12-13 23:40:00,1.168009e+06,72.649127,16077.402914,496.0,1207.0,650.0
2017-12-13 23:50:00,8.318058e+05,51.333643,16203.911541,119.0,528.0,375.0

In [ ]:
df_all.to_csv('TwitterPriceData_tenMin.csv')